.mmm-movie-night {
  max-width: 33.33vw;
}

.mmm-movie-night > h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.mmm-movie-night > p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.mmm-movie-night-movies {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.mmm-movie-night-movies:first-child {
  margin-right: 10px;
}

.mmm-movie-night-movies:last-child {
  margin-left: 10px;
}

.mmm-movie-night-movie-poster {
  max-width: 200px;
}

.mmm-movie-night-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex: 1 1 0;
  text-align: center;
}

.mmm-movie-night-movie img {
  max-width: 100%;
  height: auto;
}
