{% if loading %}
  <div class="dimmed light">{{ "LOADING" | translate | safe }}</div>
{% else %}
  <h1 class="small">
    {{ theme }}
  </h1>
  <ul>
    {% for movie in movies %}
      <li>
        {{ movie.title }} ({{ movie.year }})
      </li>
    {% endfor %}
  </ul>
{% endif %}
